body {
  background: #f7e8a6;
}
a {
  color: green;
  margin: 10px;
}
.container,
h1,
p {
  text-align: center;
  display: block;
}

img {
  width: 100%;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}

.email {
  margin: 0 auto;
}
